.header {
    height: 52px;    
    position: absolute;
    /* left: calc((100% - 1184px)/2); */
    width: 100vw;
}

.header__logo{
    position: absolute;
    top: 30px;
    left: 48px;
}

.header__lang {    
    position: absolute;
    top: 51px;
    right: 48px;
    /* right: calc((100% - 1184px)/2); */
    font-family: Inter;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    vertical-align: bottom;
    text-decoration-line: none;
}

.header__lang_active {
    text-decoration: underline;
    position: absolute;
    top: 51px;
    right: 96px;
}

@media screen and (min-width:1280px) {
    .header__logo{
        left: calc((100vw - 1184px)/2);
    }

    .header__lang {    
        right: calc((100vw - 1184px)/2);
    }
    
    .header__lang_active {
        right: calc((100vw - 1184px)/2 + 48px);
    }    
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: 100vw;
    }
    .header__logo {
        width: 176px;
        height: 52px;
        top: 16px;
        left: 24px;
    }

    .header__lang {
        top: 40px;
        right: 24px;
        font-size: 24px;
        line-height: 23px;
    }

    .header__lang_active{
        top: 40px;
        right: 72px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .header {
        width: 100vw;
    }
    .header__logo {
        width: 176px;
        height: 52px;
        top: 16px;
        left: 16px;
    }

    .header__lang {
        top: 37px;
        right: 16px;
        font-size: 24px;
        line-height: 23px;
    }

    .header__lang_active{
        top: 37px;
        right: 64px;
    }
}

@media screen and (min-width: 320px)  and (max-width: 374px) {
    .header {
        width: 100vw;
    }
    .header__logo {
        width: 142px;
        height: 42px;
        top: 16px;
        left: 16px;
    }

    .header__lang {
        top: 32px;
        right: 16px;
        font-size: 18px;
        line-height: 17px;
    }

    .header__lang_active{
        top: 32px;
        right: 56px;
    }
}