@import url('../vendor/normalize.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/body/body.css');
@import url('../fonts/inter.css');

@font-face {
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff");
    font-family: 'Inter';
    font-weight: normal;
}

@font-face {
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
         url("../fonts/Inter-Bold.woff") format("woff");
    font-family: 'Inter';
    font-weight: bold;    
}